{% extends 'layout/main.twig' %}

{% block content %}
    <div class="uk-section uk-padding-remove-vertical">
        <div class="uk-container uk-container-expand">

            <h1>Registration</h1>
            {#<form method="POST" role="form" class="uk-width-1-4">
                {{ csrf_tokens() | raw }}
                <div class="uk-margin">
                    {{ formRow(form.get('email')) }}
                </div>
                {{ formElement(form.get('submit')) }}
            </form>#}

        </div>
    </div>
{% endblock %}
