.input-error {
    border: 1px solid #f0506e;
}

.input-error + ul,
form .uk-input + ul {
    margin-top: 5px;
    padding-left: 16px;
    font-size: 80%;
    color: #f0506e;
    list-style: square;
}

.uk-notification-message {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
         -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.uk-notification-message.uk-notification-message-primary {
    background: #d8eafc;
    color: #1e87f0
}

.uk-notification-message.uk-notification-message-primary * {
    color: #1e87f0
}

.uk-notification-message.uk-notification-message-success {
    background: #edfbf6;
    color: #32d296
}

.uk-notification-message.uk-notification-message-success * {
    color: #32d296
}

.uk-notification-message.uk-notification-message-warning {
    background: #fff6ee;
    color: #faa05a
}

.uk-notification-message.uk-notification-message-warning * {
    color: #faa05a
}

.uk-notification-message.uk-notification-message-danger {
    background: #fef4f6;
    color: #f0506e
}

.uk-notification-message.uk-notification-message-danger * {
    color: #f0506e
}