<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Core</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ assets('plugins/uikit/css/uikit.min.css') }}"/>
    <script src="{{ assets('plugins/uikit/js/uikit.min.js') }}"></script>
    <script src="{{ assets('plugins/uikit/js/uikit-icons.min.js') }}"></script>
</head>
<body>

    {% include 'partial/navigation.twig' %}

    {% block content %}{% endblock %}

</body>
</html>