{% extends 'emails/layout/main.twig' %}

{% block content %}
    <center>
        <h1 style="text-align: center">Password restore</h1>
        <div>
            <p>To restore your password follow link</p>
            <p><a href="{{ get_site_url() }}{{ path_for('set-password', {}, {'t': password_token}) }}">
                {{ get_site_url() }}{{ path_for('set-password', {}, {'t': password_token}) }}
            </a></p>
            <br>
            <p>If it was not you, ignore this message.</p>
        </div>
    </center>
{% endblock %}