{% extends 'emails/layout/main.twig' %}

{% block content %}
    <h1 style="text-align: center">Confirm your registration</h1>
    <div>
        <p>Thank you for your registration.</p>

        {{ password_token }}
    </div>
{% endblock %}