<div id="side-menu" uk-offcanvas="overlay: true" uk-offcanvas="mode: push">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <h3>Adimn navigation</h3>
    </div>
</div>