{% extends 'layout/main.twig' %}
{% block content %}
    <div class="uk-section uk-padding-remove-vertical">
        <div class="uk-container uk-container-expand uk-text-center">
            <h1 class="uk-text-center uk-medium-small uk-margin-medium-top uk-text-primary">Main page of project</h1>
            
            <p>More info you can find in Github README.md of project</p>

            <a href="https://github.com/Vladimir0555/slim-core" target="_blank"><i class="fab fa-github fa-5x"></i></a>
        </div>
    </div>
{% endblock %}
