{% extends 'layout/main.twig' %}

{% block content %}
    <div class="uk-section uk-padding-remove-vertical">
        <div class="uk-container uk-container-expand">

            index / index / index . twig

            {{ csrf_tokens() | raw }}

        </div>
    </div>
{% endblock %}
